.hide {
  display: none;
}

/* #region Common */
body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h2 {
  margin-bottom: 72px;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* #endregion */

/* #region Header + */
.header {
  background: #fff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

@media only screen and (max-width: 767px) {
  .header {
    padding: 16px 0;
  }
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-cont-link {
}

.header-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-word {
  color: #2e2f42;
  font-size: 18px;
  font-weight: 700;
}

.header-cont-list {
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-item {
}

.header-item-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
  position: relative;
  color: #404bbf;
}

.header-item-link.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
}

.header-item-link:hover,
.header-item-link:focus {
  color: #404bbf;
}

.connection {
  font-style: normal;
  margin-left: auto;
}

.connection-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media only screen and (min-width: 1200px) {
  .connection-list {
    flex-direction: row;
    gap: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .connection.none {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .header-list.none {
    display: none;
  }
}

.connection .connection-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connection .connection-link:hover,
.connection .connection-link:focus {
  color: #404bbf;
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: none;
  border: none;
}

@media only screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}
/* #endregion */

/* #region Hero + */
.hero {
}

.hero .container {
  background-color: #2e2f42;
  padding: 72px 52px;
  max-width: 320px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-bg_mob@1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

@media only screen and (min-resolution: 192dpi) {
  .hero .container {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-bg_mob@2x.jpg");
  }
}
@media only screen and (min-width: 768px) {
  .hero .container {
    padding: 112px 0;
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-bg_tab@1x.jpg");

    @media (min-resolution: 192dpi) {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero/hero-bg_tab@2x.jpg");
    }
  }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero .container {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-bg_tab@2x.jpg");
  }
}
@media only screen and (min-width: 1200px) {
  .hero .container {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/people-office\ 1hero-bg_desk@1x.jpg");
  }
}
@media only screen and (min-width: 1200px) and (min-resolution: 192dpi) {
  .hero .container {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/people-office\ 1hero-bg_desk@2x.jpg");
  }
}

.hero-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  margin: 0 auto 72px;
  width: 216px;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    width: 496px;
    margin: 0 auto 36px;
  }
}

@media only screen and (min-width: 1200px) {
  .hero-title {
    width: 496px;
    margin: 0 auto 48px;
  }
}

.hero-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover {
  background-color: #404bbf;
}

.hero-button:focus {
  background-color: #404bbf;
}

/* #endregion */

/* #region Strategy + */
.strategy {
  padding: 120px 0;
}

.strategy-title {
}

.strategy-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .strategy-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .strategy-list {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.strategy-item {
  width: 100%;
  display: block;
}

@media only screen and (min-width: 768px) {
  .strategy-item {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1200px) {
  .strategy-item {
  }
}

.strategy-wrapper {
  display: none;
  margin-bottom: 8px;
}

@media only screen and (min-width: 1200px) {
  .strategy-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
  }
}

.strategy-desc {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .strategy-desc {
    text-align: start;
  }
}

@media only screen and (min-width: 1200px) {
  .strategy-desc {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.strategy-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media only screen and (min-width: 1200px) {
  .strategy-text {
    font-weight: 400;
  }
}

/* #endregion */

/* #region Our Team + */
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team .container {
  padding: 0 28px;
}

@media only screen and (min-width: 768px) {
  .team .container {
    padding: 0 108px;
  }
}

@media only screen and (min-width: 1200px) {
  .team .container {
    padding: 0 15px;
  }
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .team-list {
    gap: 24px;
    flex-wrap: nowrap;
  }
}

.team-item {
  border-radius: 0 0 4px 4px;
  width: 100%;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

@media only screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 24px * 3) / 4);
  }
}

.team-img {
}

.team-item-cont {
  padding: 32px 0px;
}

.team-desc {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.team-pack {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-list-item {
  width: 40px;
  height: 40px;
}

.team-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-wrapper:hover,
.team-wrapper:focus {
  background-color: #404bbf;
}

.team-pack svg {
  fill: #f4f4fd;
}

/* #endregion */

/* #region Our Portfolio + */
.portfolio {
  padding: 120px 0;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.portfolio-list {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

@media only screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
}

@media only screen and (min-width: 1200px) {
  .portfolio-list {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
}

.portfolio-item {
  background: #fff;
  width: 100%;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1200px) {
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-img-cont {
  position: relative;
  overflow: hidden;
}

.portfolio-img {
}

.portfolio-img-text {
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 0ms linear;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-img-text {
  transform: translateY(0);
}

.portfolio-item-cont {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  /* width: 100%; */
  padding: 32px 16px;
}

@media only screen and (min-width: 768px) {
  .portfolio-item-cont {
  }
}

@media only screen and (min-width: 1200px) {
  .portfolio-item-cont {
  }
}

.portfolio-desc {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}
/* #endregion */

/* #region Footer + */
.footer {
  background: #2e2f42;
  padding: 96px 0;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

@media only screen and (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1200px) {
  .footer .container {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.footer-logo {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .footer-logo {
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 108px;
  }
}

@media only screen and (min-width: 1200px) {
  .footer-logo {
    margin-right: 120px;
    display: inline;
    margin-left: 0;
  }
}

.footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .footer-link {
  }
}

@media only screen and (min-width: 1200px) {
  .footer-link {
  }
}

.footer-word {
  color: #f4f4fd;
  font-size: 18px;
  font-weight: 700;
}
.footer-desc {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  margin-bottom: 72px;
}

.footer-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .footer-cont {
    margin-left: 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .footer-cont {
    display: block;
    margin-left: 0;
  }
}

.footer-social {
}
.footer-social-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-pack {
  display: flex;
  gap: 16px;
}
.footer-list-item {
  width: 40px;
  height: 40px;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-wrapper:hover,
.footer-wrapper:focus {
  background-color: #31d0aa;
}

.footer-wrapper-icon {
  fill: #f4f4fd;
}

.footer-email-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .footer-email-cont {
    align-items: flex-start;
    margin-left: 108px;
  }
}

@media only screen and (min-width: 1200px) {
  .footer-email-cont {
    margin-left: 80px;
    display: block;
  }
}

.footer-email-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  gap: 24px;
}

.footer-email-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media only screen and (min-width: 768px) {
  .footer-email-form {
    flex-direction: row;
    gap: 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .footer-email-form {
  }
}

.footer-email {
}

.footer-email-box {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  background-color: transparent;
  padding-left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-email-box::placeholder {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .footer-email-box {
  }
}

@media only screen and (min-width: 1200px) {
  .footer-email-box {
    width: 264px;
  }
}

.footer-email-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border-color: transparent;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  color: #fff;
  gap: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  margin: 0 auto;
}

.footer-email-btn:hover {
  background-color: #404bbf;
}

.footer-email-icon {
}

/* #endregion */

/* #region Modal */
.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(46, 47, 66, 0.4);

  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 408px;
  min-height: 584px;
  padding: 24px;
  padding-top: 72px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2e2f42;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
  border: none;
  color: #fff;
}

.modal-button-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-caption {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
}
.modal-wrapper {
  margin-bottom: 8px;
}

.modal-wrapper-comment {
  margin-bottom: 16px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-message {
  display: block;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  background: transparent;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-message:focus-within {
  border-color: #4d5ae5;
}

.modal-field {
  position: relative;
}

.modal-field-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding: 11px 38px;
  background: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-input:focus-within {
  border-color: #4d5ae5;
}

.modal-field-input:focus-within + .modal-field-icon {
  fill: #4d5ae5;
}

.modal-field-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-container {
  margin-bottom: 24px;
}

.agreement-box {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.agreement-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.agreement-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}
.agreement-checkbox-icon {
}
.agreement-checkbox-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.agreement-box:checked + .agreement-label .agreement-checkbox {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.modal-btn-submit {
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border-color: transparent;
  cursor: pointer;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-submit:hover,
.modal-btn-submit:focus {
  background-color: #404bbf;
}

/* #endregion Modal */

/* #region Mobile Menu */
.mobile-menu {
  position: fixed;
  inset: 0;
  background-color: #fff;

  /* transition: 300ms ease-in;
  transition-property: opacity;
  opacity: 0; */
}

.mobile-menu .is-open {
  /* opacity: 1;
  transition-delay: 300ms;
  transition-timing-function: ease-out; */
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  height: 100%;
  margin-left: auto;
  padding: 72px 24px 40px 16px;
  background: #fff;
}

.mobile-menu-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2e2f42;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms ease-in, border 250ms ease-in;
}

.mobile-mennu-button:hover,
.mobile-menu-button:focus {
  background-color: #404bbf;
  border: none;
  color: #fff;
}

.mobile-button-icon {
  fill: currentColor;
  transition: fill 250ms ease-in;
}

.mobile-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}
.mobile-item {
}
.mobile-item-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-item-link:hover,
.mobile-item-link:focus {
  color: #404bbf;
}

.menu-connection {
  margin: 0;
  font-style: normal;
  margin-bottom: 48px;
}
.menu-connection-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.menu-connection-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms ease-in;
}

.menu-connection .menu-connection-link:hover,
.menu-connection .menu-connection-link:focus {
  color: #404bbf;
}

.menu-pack {
  display: flex;
  gap: 40px;
}

/* #endregion  */
